.postCover {
  height: 250px;
  width: 100%;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  object-fit: cover;
}

.uploadedPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
}

.uploadPhoto {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 160px;
  cursor: pointer;
}
