# packages
node_modules/

# static files
uploads/

# static files
dist/

# eslint
*.eslintcache

# vscode
.vscode/*.log

# npm/yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# testing
coverage/

# production
build/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out