.logo {
  align-self: flex-start;

  height: 120px;
  width: 120px;
  background-size: cover;
}

.backgroundImg {
  background-image: url('../../assets/images/gradient-bg.svg');
  background-size: cover;
  background-color: rgb(14, 19, 32);
}
