.logo {
  align-self: flex-start;
  height: 120px;
  width: 120px;

  background-size: cover;
}

.backgroundImg {
  background: linear-gradient(45deg, rgba(2, 0, 36, 1) 30%, rgba(37, 69, 125, 1) 80%, rgba(3, 175, 213, 1) 100%);
}