.image {
  position: relative;
  width: fit-content;

  .cameraIcon {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  &:hover {
    &>div {
      transition: 0.3s ease;
      // filter: brightness(70%);
    }

    .cameraIcon {
      display: flex;
      align-items: center;
      gap: 4px
    }
  }
}