.quill {
  .ql-toolbar {
    border: 1px solid rgb(45, 55, 72);
    border-radius: 10px 10px 0 0;
    color: white;

    .ql-stroke {
      fill: none;
      stroke: #fff;
    }

    .ql-fill {
      fill: #fff;
      stroke: none;
    }

    .ql-picker {
      color: #fff;
    }
  }

  .ql-container {
    border: 1px solid rgb(45, 55, 72);
    border-radius: 0 0 10px 10px;

    height: 300px;
  }
}

.error {
  .ql-toolbar {
    border-color: #922E2E;
    color: #922E2E;

    .ql-stroke {
      stroke: #922E2E;
    }

    .ql-fill {
      fill: #922E2E;
    }

    .ql-picker {
      color: #922E2E;
    }
  }

  .ql-container {
    border-color: #922E2E;
  }
}