.root
  display: grid
  grid-template-columns: auto 1fr
  grid-template-rows: auto 1fr
  grid-template-areas: "h h" "a c"

.header
  grid-area: h
  z-index: 1250 //убрать при подключении theme
  position: fixed !important

.aside
  grid-area: a

.content
  grid-area: c
  padding: 114px 22px 67px
