.profileCover {
  height: 348px;
  width: 100%;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}

.hoverImg {
  width: 100%;
  position: relative;

  .btn {
    display: none;
  }

  &:hover {
    .btn {
      display: flex;
    }
  }
}