.messageButton {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  cursor: pointer;
  border: none;
  background-color: #111927;
}

.messageButton:hover {
  background-color: rgba(243, 244, 246, 0.04);
  border-radius: 15px;
}

.messageButton:active {
  opacity: 0.5;
}

.contactButton {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;

  cursor: pointer;
  border: none;
  background-color: #111927;
}

.contactButton:hover {
  background-color: rgba(243, 244, 246, 0.04);
}

.contactButton:active {
  opacity: 0.5;
}
