.form {
  font-family: 'Arial', sans-serif;
  width: 500px;
  background: #ffffff;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
}
.form-select {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}
.form-list {
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  background-color: #ccc;
  font-size: 20px;
  line-height: 1;
  color: #000;
  border-radius: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 2;
}
.form-list.open {
  display: block;
}
.form-list.country {
  height: 400px;
  overflow-y: scroll;
}
.form-item {
  padding: 6px 20px;
  cursor: pointer;
  background-color: #ccc;
  transition: all 0.2s;
}
.form-item:hover {
  background-color: #f3f0f0;
}
.form-item:last-child {
  border-radius: 0 0 8px 8px;
  padding-bottom: 10px;
}
.form-item:first-child {
  padding-top: 10px;
  border-radius: 8px 8px 0 0;
}
.hidden-input {
  /*         display: none; */
}
.select-btn {
  display: inline;
  width: 100%;
  text-align: left;
  background-color: #ccc;
  border-radius: 8px;
  padding: 6px 20px;
  border: 1px solid #ccc;
  font-size: 20px;
  line-height: 1.3;
  color: #000;
  cursor: pointer;
}
.select-btn:focus {
  outline: none;
  border: 1px solid #999;
}
