.chatBackground {
  background-image: url('src/shared/assets/images/chat-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.chatBackgroundLight {
  background-image: url('src/shared/assets/images/chat-background-light.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
